//
//  Shared.xcconfig
//  essentiaX
//
//  Created by martin hermant on 03/09/15.
//  Copyright (c) 2015 martin hermant. All rights reserved.
//


// ESSENTIA_PATH NEEDS TO BE DEFINED


GCC_PREPROCESSOR_DEFINITIONS = HAVE_AVRESAMPLE=1

// Actually have to manually change fft algorithms to essentia/algorithm/standard/ fftk /ffta / fftw target for xcode to compile it
// but everything else should be cared of
// ACCELERATE / KISS / FFTW
ESSENTIA_FFT = ACCELERATE



H_FFMPEGLIB= /usr/local/include/
H_YAML = /usr/local/include/

H_TAGLIB=/usr/local/include/taglib/
H_SITE_P=/usr/local/lib/python2.7/site-packages/
H_PYTHON=/System/Library/Frameworks/Python.framework/Versions/2.7/include/python2.7/


H_ESSENTIA_SRC=$(ESSENTIA_PATH)src/

H_KISS_FFT=$(H_ESSENTIA_SRC)3rdparty/kiss_fft130/
H_FFTW_FFT=/usr/local/include/

H_ESSENTIA_INTERN = $(H_ESSENTIA_SRC) $(H_ESSENTIA_SRC)essentia $(H_ESSENTIA_SRC)essentia/utils $(H_ESSENTIA_SRC)essentia/streaming $(H_ESSENTIA_SRC)python



ESSENTIA_HEADERS= $(H_ESSENTIA_INTERN) $(H_SITE_P)numpy/core/include $(H_PYTHON) $(H_FFMPEGLIB)include $(H_TAGLIB) $(H_$(ESSENTIA_FFT)_FFT) $(H_YAML)




// LIBRARIES


L_FFMPEG_ROOT = /usr/local/lib/

L_FFMPEG_2 = "$(L_FFMPEG_ROOT)libavresample.a"
L_FFMPEG_1 = "$(L_FFMPEG_ROOT)libavformat.a"
L_FFMPEG_3 = "$(L_FFMPEG_ROOT)libavcodec.a"
L_FFMPEG_0 = "$(L_FFMPEG_ROOT)libavutil.a"


L_FFMPEG = $(L_FFMPEG_0) $(L_FFMPEG_1) $(L_FFMPEG_2) $(L_FFMPEG_3)

L_X264 = "/usr/local/lib/libx264.a"
L_XVIDCORE = "/usr/local/lib/libxvidcore.a"




L_SAMPLERATE ="/usr/local/lib/libsamplerate.a"

L_YAML = "/usr/local/lib/libyaml.a"
L_TAG = "/usr/local/lib/libtag.a"
L_LAME = "/usr/local/Cellar/lame/3.99.5/lib/libmp3lame.a"
L_FAAC = "/usr/local/lib/libfaac.a"
L_SWRESAMPLE = "/usr/local/lib/libswresample.a"


L_ICONV = -liconv
L_BZ2 = "/usr/local/opt/bzip2/lib/libbz2.a"


L_ESSENTIA_FFT_FFTW_S = "/usr/local/lib/libfftw3f.a"
L_ESSENTIA_FFT_S = $(L_ESSENTIA_FFT_$(ESSENTIA_FFT)_S)


L_ESSENTIA_FFT_FFTW_D = -lfftw3f
L_ESSENTIA_FFT_D = $(L_ESSENTIA_FFT_$(ESSENTIA_FFT)_D)


//$(L_Z) $(L_LZMA)
ESSENTIA_STATICLIBS =  $(L_LAME) $(L_FAAC) $(L_ICONV) $(L_BZ2) $(L_SWRESAMPLE) $(L_SAMPLERATE) $(L_FFMPEG) $(L_YAML) $(L_TAG) $(L_ESSENTIA_FFT_S) $(L_XVIDCORE) $(L_X264)
ESSENTIA_DYNAMICLIBS = -L/usr/local/lib -lsamplerate -lavresample -lavformat -lavcodec -lavutil -lyaml -ltag $(L_ESSENTIA_FFT_D)



ESSENTIA_LIBS = $(ESSENTIA_STATICLIBS)//$(ESSENTIA_DYNAMICLIBS)

ESSENTIA_FFT_ACCELERATE_FRAMEWORK = -framework Accelerate

ESSENTIA_FRAMEWORKS = -framework Security $(ESSENTIA_FFT_$(ESSENTIA_FFT)_FRAMEWORK)

